{{#exists address data="address"}}
  <address class="address">
    {{#if name}}<p class="name">{{name}}</p>{{/if}}
    <p class="lines">
    {{#each lines as |line|}}
      {{line}}<br>
    {{/each}}
    </p>
    <p class="phones">
      {{#each phones as |phone|}}
        <a href="tel:{{phone}}">{{phone}}</a>
      {{/each}}
    </p>
    <p class="emails">
      {{#each emails as |email|}}
        <a href="mailto:{{email}}">{{email}}</a>
      {{/each}}
    </p>
  </address>
{{/exists}}
