{{#if modal}}
  {{#exists modal}}
    <div class="modal" id="{{id}}">
      <div class="modal-content">
        <div class="modal-header">
          <h2>{{title}}</h2>
          <a href="#" class="modal-close">&times;</a>
        </div>
        <div class="modal-body">
          {{{content}}}
        </div>
        <div class="modal-footer">
          {{#if buttons}}
            <div class="modal-buttons">
              {{#each buttons}}
                <a href="#" class="button {{#if class}}{{class}}{{else}}button-primary{{/if}}">{{text}}</a>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/exists}}
{{else}}
  {{> @data-not-found data='modal'}}
 {{/if}}
