{{#exists sectionAbout }}
  <div class="section-about">
    <h2 class="title">{{ title }}</h2>
    <h3 class="subtitle">{{ subtitle }}</h3>
    <p>{{text}}</p>
    <div class="content">{{{ content }}}</div>
  </div>
{{else}}
  {{> @data-not-found data='sectionAbout'}}
{{/exists}}
