{{#if errorPage }}
  {{#with errorPage }}
    <div class="error-page">
      {{> @image-base}}
      <h1>{{title}}</h1>
      <p>{{text}}</p>
      <a href="{{back.link}}">{{back.text}}</a>
    </div>
  {{/with }}
{{else}}
  {{> @data-not-found data='errorPage'}}
{{/if}}
