{{#exists brand data="brand"}}
  <div class="brand">
    <a href="{{link}}" title="{{name}}">
      <img src="{{imageSource logo.source}}" alt="{{logo.description}}" />
      <p>{{name}}</p>
    </a>
  </div>
{{/exists}}
