{{#exists menu data="menu"}}
  <ul class="menu {{menuPosition position}}" role="navigation">
    {{#if title}}
      <li class="menu-title">{{title}}</li>
    {{/if}}
    {{#each items}}
      <li class="menu-item {{#if isActive}}active{{/if}}">
        <a href="{{link}}" title="{{name}}">
          <span>{{name}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
{{/exists}}
